@media screen and (max-width: 768px) { 
    html {
        font-size: 100%;
    }
    html *
	{ 
		font-size: 1.4rem; 
	} 

    .colonne {
        display: none;
    }

    .article {
        width: 100%;
    }

    header {
        display: flex;
        flex-direction: column;

        align-items: center;
    }
    .logo {
        width: 100%;
        height: auto;
    }
    .title p{
        font-size: 3rem;
    }

    nav {
        background-color: #000;

        width: 100%;
    }

    ul {
        display: flex;
        flex-direction: column;

        align-items: center;

    }

    ul a {
        color: #FFF;
    }

    ul li{
        font-size: 2rem;
    }

    nav ul{
        list-style: none;
    }

    .promotion {
        width: 100%;
        height: auto;
    }

    table {
        height: 500px;
    }

    td img {
        width: 50%;
        height: 50%;
    }
    td {
        font-size: 1rem;
    }

    form {
        width: 100%;
    }

} 
@media screen and (min-width: 768px) {
    html {
        font-size: 100%;
    }
    
    html * {
        font-size: 1rem;
    }
    
    header {
        display: flex;
    }
    
    .title {
        align-self: center;
        text-align: center;
    
        font-size: x-large;
    
        flex-grow: 2;
    }
    
    
    nav {
        width: 100%;
        height: 100px;
    
        margin-bottom: 5px;

        background-color: #000;
    }
    
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    
    
        width: 100%;
        height: 100%;
    }
    
    ul {
        list-style: none;
    }
    
    ul li {
        margin-left: 10px;
    }
    
    
    li a {
        color: #FFF;
    }
    
    .promotion {
        width: 100%;
        height: auto;
    }
    
    .article {
        width: 70%;
    }
    
    .colonne {
        width: 30%;
        background-color: #999999;
    }
    
    .colonne p {
        margin: 0;
    }
    
    .body {
        display: flex;
        justify-content: space-between;
    }
}

table {
    margin-left: auto;
    margin-right: auto;

    border: #000 solid 2px;
}

td, th{
    border: #000 solid 2px;
}